<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681064674824-drtpvsmh1v64ln1050i85h97s4d4m259.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681064674824-drtpvsmh1v64ln1050i85h97s4d4m259</string>
	<key>API_KEY</key>
	<string>AIzaSyBv8p2Qlw25fyDI-DwbOdf42iWXk2YE_FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>681064674824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.worlddesign.tootApp</string>
	<key>PROJECT_ID</key>
	<string>toot-6b38a</string>
	<key>STORAGE_BUCKET</key>
	<string>toot-6b38a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681064674824:ios:4fa00f0471e74342f243bd</string>
</dict>
</plist>